@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 10rem;
}

footer {
  background: #5e6b78;
  text-align: center;
  color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a:visited {
  color: white;
}

footer a:hover {
  background-color: #87ceeb;
  padding: 0.25rem;
  border-radius: 5px;
  color: black;
}

.header-title {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  padding-left: 0rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
}

h1 {
  font-family: "Vina Sans", sans-serif;
  font-size: 4rem;
}

nav {
  background-color: #5e6b78;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav li {
  margin: 0;
  height: 100%;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
}

nav a:hover {
  background-color: #87ceeb;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.GameShop {
  display: inline;
  flex: wrap;
}

.MyGames {
  flex: 2;
  padding: 1rem;
}

.MyFavourites {
  flex: 1;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  position: relative;
  width: 300px;
  height: 150px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: linear-gradient(60deg, #151516 0%, #1d2229 100%);
}

.card h2, .card p, .card span {
  position: absolute;
  z-index: 99;
  right: 130px;
  letter-spacing: 1px;
  transition: 0.2s ease;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-size: 50px;
  font-weight: 700;
  bottom: 25px;
}

.card p {
  width: 150px;
  font-size: 12px;
  bottom: 30px;
  opacity: 0;
  text-align: right;
}

.card span {
  font-size: 12px;
  top: 60px;
  right: 35px;
  opacity: 0.7;
  writing-mode: vertical-rl;
}

.card .pic {
  z-index: 100;
  width: 395px;
  height: 200px;
  border-radius: 12px;
  background-size: cover;
  filter: grayscale(100%);
  transition: 0.3s ease;
  background-image: url(#);
}

.card button {
  position: absolute;
  right: 30px;
  bottom: 40px;
  width: 30px;
  height: 30px;
  background-color: #772a9b;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  opacity: 1;
  transition: 0.3s ease;
}

.card2 .pic {
  background-image: url(#);
  transition: 0.3s ease;
}

.card2 button {
  background-color: #26c3a1;
}

.card:hover button {
  transform: scale(16.5);
  opacity: 0.5;
}

.card:hover h2 {
  bottom: 80px;
  right: 50px;
}

.card:hover p {
  opacity: 1;
  right: 60px;
}

.card:hover span {
  opacity: 0;
  top: 80px;
}

.card:hover .pic {
  filter: grayscale(0);
  width: 470px;
}

/*# sourceMappingURL=main.css.map */
